<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title></title>
    <script src="scripts/lib/jquery.js" ></script>
    <script src="scripts/lib/underscore.js" ></script>
    <script src="scripts/lib/backbone.js" ></script>
<!--    <script data-main="scripts/main" src="scripts/lib/require.js"></script>-->

    <script src="scripts/app/apps.js" ></script>



</head>

<body>

<div id="forSelect">
    
</div>
<div>
    <input type="text" id="pathInput" value="" />
    <input type="button" id="pathInputButton" value="go!" />
</div>
<hr/>
    <h2>Files</h2>
<div id="forFile">
    
</div>
    <h2>Folders</h2>
    <div id="forFolder">

    </div>


<!-- -->
<!--<script id="driveTemplate" type="text/template">-->
<!-- <option value="<%= drive %>">Drive <%= drive %></option>-->
<!--</script>-->
</body>

</html>