<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title></title>
    <script src="scripts/lib/jquery.js" ></script>
    <script src="scripts/lib/underscore.js" ></script>
    <script src="scripts/lib/backbone.js" ></script>
<!--    <script data-main="scripts/main" src="scripts/lib/require.js"></script>-->

    <script src="scripts/app/apps.js" ></script>



</head>

<body>

<div id="forSelect">
    
</div>
<div>
    <form>
        <input type="text" id="pathInput" value="c:/home"  />
        <input type="submit" id="pathInputButton" value="go!" autofocus="0" />
    </form>
</div>

    <input type="button" id="backButton" value="back" autofocus="1" hidden="true" />
<input type="button" id="BC" value="BC" autofocus="2"  />
    <ul id="BCUL">
        
    </ul>
<hr/>
    <h2>Files</h2>
<div id="forFile">
</div>

    <input type="button" class="addButton" value="add" />
    <h2>Folders</h2>
    <div id="forFolder">

    </div>


<!-- -->
<!--<script id="driveTemplate" type="text/template">-->
<!-- <option value="<%= drive %>">Drive <%= drive %></option>-->
<!--</script>-->
</body>

</html>